@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
  --font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  
  -webkit-user-select: none; /* webkit (safari, chrome) browsers */
  -moz-user-select: none; /* mozilla browsers */
  -khtml-user-select: none; /* webkit (konqueror) browsers */
  -ms-user-select: none; /* IE10+ */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 10px 0;
}

h1 {
  font-size: 40px;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-weight: bold;
}

h3 {
  font-size: 20px;
  font-weight: normal;
}

ul, ol {
  margin: 0;
  padding-left: 20px;
}

a, a:visited {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

/*
ul.no-bullets, ol.no-bullets {
  list-style-type: none;
  padding-left: 0;
}
*/

select {
  border: 1px solid black;
  background-color: white;
  font-family: var(--font-family);
  width: 200px;
}

.titles {
  margin: 10px;
}

.clickable, .button {
  cursor: pointer;
}

.clickable {
  position: relative;
}

.button img {
  position: absolute;
  left: calc(50% - 40px/2);
  top: calc(50% - 40px/2);
}

.menu, .menu-button {
  transition: left;
  transition-duration: 0.4s;
}

.menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 400px;
  height: 100%;
  border: 1px solid black;
  background-color: white;
  z-index: 1000;
}

.menu-section {
  width: calc(100% - 10px*2 - 1px*2);
  margin: 10px auto;
  padding: 5px;
}

.menu-link-button {
  display: flex;
  flex-direction: row;
}

.menu-link {
  display: inline-block;
  width: 100%;
  height: 40px;
  line-height: 25px;
  padding: 5px;
  margin-bottom: 5px;
  border-width: 1px 0 1px 1px;
  border-style: solid;
  border-color: black;
}

.menu-button-icon {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
  border-width: 1px 1px 1px 0;
  border-style: solid;
  border-color: black;
}

.menu-button-icon img {
  position: absolute;
  left: calc(50% - 30px/2);
  top: calc(50% - 30px/2);
}

.top-bar {
  z-index: 997;
  background-color: white;
}

.top-bar-button {
  z-index: 998;
  background-color: white;
}

.account-button, .menu-button {
  z-index: 999;
  background-color: white;
}

.menu-button {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.top-bar {
  position: fixed;
  top: 0;
  left: calc(50px - 1px);
  width: calc(100% - 50px*2 + 1px*2);
  height: 50px;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 30px;
  line-height: 50px;
}

@media (max-width: 400px) {
  .title {
    font-size: 20px;
  }
}

.top-bar-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: calc(50px - 1px*2);
  border-right: 1px solid black;
  margin: 0px;
}

.account-button {
  position: fixed;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid black;
}

.content {
  position: absolute;
  top: calc(50px + 2px);
  width: 100%;
  height: 100%;
  z-index: 0;
}

.main-error {
  font-size: 20px;
  width: 100%;
  padding: 10px;
}

.section {
  position: relative;
  border: 1px solid #000;
  margin: 10px;
  padding: 10px;
}

.homepage-section {
  position: relative;
  margin: 10px;
  padding: 10px;
}

.no-padding {
  padding: 0;
}

.list-item {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.list-item-left, .list-item-right {
  display: inline-block;
}

.list-item-right {
  margin-left: 10px;
  width: 100%;
}

/* Custom checkboxes: https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */
.checkmark {
  position: relative;
  display: inline-block;
  border: 1px solid black;
  width: 30px;
  height: 30px;
}

.checkmark:after {
  --width: 5px;
  --height: 10px;
  
  content: "";
  position: absolute;
  display: none;
  left: calc(40% - var(--width)/2);
  top: calc(40% - var(--height)/2);
  width: var(--width);
  height: var(--height);
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="checkbox"]:checked ~ .checkmark {
  background-color: black;
}

input[type="checkbox"]:checked ~ .checkmark:after {
  display: inline-block;
}

img.image-fill {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.scroll-horiz {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  overflow-y: hidden;
}

.recipe-link {
  width: 200px;
  height: 220px;
  margin-right: 10px;
}

.link-image {
  border: 1px solid black;
  width: 200px;
  height: 200px;
  text-align: center;
  line-height: 200px;
  margin: 0 auto;
}

.link-name {
  text-align: center;
}

@media (max-width: 400px) {
  select {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .menu {
    width: calc(100% - 100px + 1px*2);
  }
}
